.theme-dark {
    --header-primary: #fff;
    --header-secondary: #9a9a9a;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #90ffa0;
    --channels-default: #fff;
    --interactive-normal: #ffffff;
    --interactive-hover: #ff8282;
    --interactive-active: #37ff7d;
    --interactive-muted: #480000;
    --background-primary: #0f0f0f;
    --background-secondary: #0f0f0f;
    --background-secondary-alt: #0f0f0f;
    --background-tertiary: #0f0f0f;
    --background-accent: #0f0f0f;
    --background-floating: #0f0f0f;
    --background-mobile-primary: #0f0f0f;
    --background-mobile-secondary: #0f0f0f;
    --background-modifier-hover: rgba(255, 0, 0, 0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250, 212, 26, 0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --scrollbar-thin-thumb: #0f0f0f;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #1f1f1f;
    --scrollbar-auto-track: #141414;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #0f0f0f;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #00b0f4;
    --radio-group-dot-foreground: #8ea1e1;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: #141414;
    --activity-card-background: #0f0f0f;
    --textbox-markdown-syntax: #770000;
    --deprecated-card-bg: rgba(15, 15, 15, 0.75);
    --deprecated-card-editable-bg: rgba(15, 15, 15, 0.60);
    --deprecated-store-bg: #151515;
    --deprecated-quickswitcher-input-background: #0f0f0f;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #0f0f0f;
    --deprecated-text-input-prefix: #a2a2a2;
}